@use "sass:math";

@function em($pixel, $context: 16) {
  @return math.div($pixel, $context) + em;
}

@mixin type-1($size) {
  font-family: $main-font;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
}

@mixin type-2($size) {
  font-family: $secondary-font;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  } @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  }
}